modules = ["c-clang14", "cpp-clang14", "nodejs-20", "python-3.12"]

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 3000
externalPort = 80

[workflows]
runButton = "Start Next.js App"

[[workflows.workflow]]
name = "Start Next.js App"
author = 45991209
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install && npm run dev"
